@{
    ViewData["Title"] = "Internal Server Error";
}

<div class="max-w-md m-auto px-3">
    <h2 class="text-grey-darker uppercase tracking-wide text-center">@ViewData["Title"]</h2>
    <p class="mt-5 text-grey-darker">Error occurred while processing your request. Please try again later or contact us.</p>
</div>