@{
    ViewData["Title"] = "About";
}



     
 <div class="about">
<br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         
      <div class="flex">
        <div>
         <br>
         <br>
          <p class="text-grey-darker uppercase tracking-wide text-center">How It works: </p>
          <br>
          <div class="max-w-md m-auto px-3">
    <p class="text-grey-darker uppercase tracking-wide text-left">  
    TICKERTracker uses information from the latest cryptomarket and stockmarket API's to let users select their favorite 
    "TICKERS" to track, 
    <br> 
    <br> 

    Connecting together with Twitter's API TICKERTracker lets users connect their Twitter account to get notified about the latest price action of thier favorite cryptos and stocks straight to their twitter account. </p>
      <br>
     <br>
      
          <br>
     <br>
    <p class="text-grey-darker uppercase tracking-wide text-center">TICKERTracker is made by:  </p>
    <br>
      <ul class="text-grey-darker uppercase tracking-wide text-left">

            <li>Ismail El Hardoum </li> 
	        <li>Salman Virji </li> 
	        <li>Parniyan Roosta </li> 
        </ul>


</div>
        </div>


        <div class=" w-75">
          <img src="/images/twittertextbottom.png" class="float-right">
          </div>
      </div>
    </div>
