@{
    ViewData["Title"] = "Home Page";
}
<div class="homepage">
    <div class="flex mt-12">
        <div>
            <br/>
            <br/>
            <p class="text-grey-darker uppercase underline tracking-wide text-center text-xxl">
                #TICKERTracker
            </p>
            <br/>
            <div class="max-w-md m-auto px-3">
                <p class="text-grey-darker text-center">
                    TICKERTracker Is a open source twitter bot that tracks and updates you on your favourite Stock and Cryptos
                </p>
                <br/>
                <br/>
                <ul class="text-grey-darker text-left">
                    <li>
                        Custom Timed Updates
                    </li>
                    <li>
                        Price Change notifications
                    </li>
                    <li>
                        And much more !
                    </li>
                </ul>
                <br/>
                <br/>
                <p class="text-grey-darker text-center">
                    Built using Twitters API And C#
                </p>
                <br/>
                <br/>
                <br/>
                <!-- Get Started  button needs to be linked to Create Profile page  -->
                <div class="object-none object-center items-center">
                    <div class=" object-none object-center items-center">
                        <a asp-controller="TwitterAuth" asp-action="Redirect"  class="shadow bg-teal-dark hover:bg-purple-400 focus:shadow-outline focus:outline-none font-grey-darker py-3 px-4 rounded no-underline text-white mr-4">
                            Get Started!
                        </a>
                        <!-- Learn more button needs to be linked to about page  -->
                        <a asp-controller="Home" asp-action="About" class="shadow bg-teal-dark hover:bg-purple-400 focus:shadow-outline focus:outline-none font-grey-darker py-3 px-4 rounded no-underline text-white">
                            Learn more!
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class=" w-75">
            <img class="float-right" src="/images/twittermarket.png">
            </img>
        </div>
    </div>
</div>
