@{
    ViewData["Title"] = "Home Page";
}

<!-- Refrence for image postioning  -->
 <!-- https://stackoverflow.com/questions/67081460/how-can-i-align-image-horizontally-in-tailwind-css -->
     
 <div class="homepage">
<br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         
      <div class="flex">
        <div>
         <br>
         <br>
          <p class="text-grey-darker uppercase tracking-wide text-center">#TICKERTracker</p>
          <br>
          <div class="max-w-md m-auto px-3">
    <p class="text-grey-darker uppercase tracking-wide text-center">  TICKERTracker Is a opensource twitter bot that tracks and updates you on your favorite Stock and Cryptos : </p>
      <br>
     <br>
        <ul class="text-grey-darker uppercase tracking-wide text-center">
            <li>Custom Timed Updates </li> 
	        <li>Price Change notifications </li> 
	        <li>And much more ! </li> 
        </ul>
          <br>
     <br>
    <p class="text-grey-darker uppercase tracking-wide text-center">Built using Twitters API And C# </p>
</div>
        </div>

        <div class=" w-75">
          <img src="/images/twittermarket.png" class="float-right">
          </div>
      </div>
    </div>



