@{
    ViewData["Title"] = "Portfolio";
}


<div class="flex-1 text-grey-darker">
    <h1 class="text-xl tracking-wide uppercase text-center">@ViewData["Title"]</h1>





<br>
<br>

<!-- Top 3 cryptos for now we can add more  -->
<h2 class = " text-grey-darker"> Select Cryptos to track</h2> 

<div class="block">
 
  <div class="mt-2">
    <div>
      <label class="inline-flex items-center">
        <input type="checkbox" class="form-checkbox" checked />
        <span class="ml-2">BTC - Bitcoin</span>
      </label>
    </div>
    <div>
      <label class="inline-flex items-center">
        <input type="checkbox" class="form-checkbox" />
        <span class="ml-2">ETH - Etherium</span>
      </label>
    </div>
    <div>
      <label class="inline-flex items-center">
        <input type="checkbox" class="form-checkbox" />
        <span class="ml-2">ALGO - Algorand</span>
      </label>
    </div>
  </div>
</div>
<br>
<br>
<br>
<!-- Top 3 popular stocks for now we can add more  -->
<h2 class = " text-grey-darker"> Select Stocks to track</h2>

<div class="block">
 
  <div class="mt-2">
    <div>
      <label class="inline-flex items-center">
        <input type="checkbox" class="form-checkbox" checked />
        <span class="ml-2">AAPL - Apple inc</span>
      </label>
    </div>
    <div>
      <label class="inline-flex items-center">
        <input type="checkbox" class="form-checkbox" />
        <span class="ml-2">LCID - Lucid Group Inc</span>
      </label>
    </div>
    <div>
      <label class="inline-flex items-center">
        <input type="checkbox" class="form-checkbox" />
        <span class="ml-2">F - Ford Motor Company</span>
      </label>
    </div>
  </div>
</div>
<br>
<br>
<!-- 3 Update frequencys -->
<h2 class = " text-grey-darker">Update - Frequency</h2>

<div class="block">
 
  <div class="mt-2">
    <div>
      <label class="inline-flex items-center">
        <input type="checkbox" class="form-checkbox" checked />
        <span class="ml-2">30 minutes</span>
      </label>
    </div>
    <div>
      <label class="inline-flex items-center">
        <input type="checkbox" class="form-checkbox" />
        <span class="ml-2">1 hour</span>
      </label>
    </div>
    <div>
      <label class="inline-flex items-center">
        <input type="checkbox" class="form-checkbox" />
        <span class="ml-2">6 hours</span>
      </label>
    </div>
  </div>
</div>

