
@{
    ViewData["Title"] = "Portfolio";
}


<!-- based on tailwind components : https://tailwindcomponents.com/component/user-table user table By webtobesocial  -->



<div class="text-xl tracking-wide uppercase">
    <div class="p-4 flex">
        <h1 class="flex-1 text-grey-darker">
            Portfolio
        </h1>
    </div>
    <div class="px-3 py-4 flex justify-center">
        <table class="w-full text-md bg-white shadow-md rounded mb-4">
            <tbody>
                <tr class="border-b">
                    <th class="text-left p-3 px-5">TICKER</th>
                    <th class="text-left p-3 px-5">Price</th>
                     <th class="text-left p-3 px-5"></th>
                    
                    <th></th>
                </tr>
                <tr class="border-b hover:bg-orange-100 bg-gray-100">
                    <td class="p-3 px-5"><input type="text" value="Bitcoin" class="bg-transparent"></td>
                    <td class="p-3 px-5"><input type="text" value="$65,000" class="bg-transparent"></td>
                     <td class="p-3 px-5">
                            <td class="p-3 px-5 flex justify-center ">
                            <button type="button" class="mr-3 text-sm bg-green hover:bg-blue-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline">Save</button>
                            <button type="button" class="text-sm bg-blue hover:bg-red-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline">Delete</button></td>
                    </td>


                </tr>
                <tr class="border-b hover:bg-orange-100">
                    <td class="p-3 px-5"><input type="text" value="Algorand" class="bg-transparent"></td>
                    <td class="p-3 px-5"><input type="text" value="$2.20" class="bg-transparent"></td>
                      <td class="p-3 px-5">
                            <td class="p-3 px-5 flex justify-center ">
                            <button type="button" class="mr-3 text-sm bg-green hover:bg-blue-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline">Save</button>
                            <button type="button" class="text-sm bg-blue hover:bg-red-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline">Delete</button></td>
                    </td>

                     <tr class="border-b hover:bg-orange-100">
                    <td class="p-3 px-5"><input type="text" value="Etherium" class="bg-transparent"></td>
                    <td class="p-3 px-5"><input type="text" value="$5,500" class="bg-transparent"></td>
                      <td class="p-3 px-5">
                            <td class="p-3 px-5 flex justify-center ">
                            <button type="button" class="mr-3 text-sm bg-green hover:bg-blue-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline">Save</button>
                            <button type="button" class="text-sm bg-blue hover:bg-red-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline">Delete</button></td>
                    </td>
                    
                    
              