@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="flex-1 text-grey-darker">
    <h1 class="text-xl tracking-wide uppercase">@ViewData["Title"]</h1>

    <p class="mt-3">Lorem ipsum dolor sit amet, cum te tantas recteque persecuti, sumo appareat torquatos ei sea, alienum insolens cu mei. Oportere scriptorem ea per. Quo ne civibus ancillae, qui doctus iriure ex, eam suas sanctus vivendum an. Dolores offendit assentior at duo, ex brute quaerendum accommodare qui. Inciderint dissentiet vis id, amet offendit ut sed.</p>

    <p class="mt-3">Suas ullum ei has. Cum causae voluptaria ea. Appareat laboramus qui an, vis ne dicta dissentiet. Sea id munere laoreet dignissim, nec quidam mollis et, ad quod dicta appetere sea. Ad nostro dissentiunt qui. Labitur minimum vix cu, ne nisl repudiare vel.</p>

    <p class="mt-3">Vel in accusam pertinax, pro cu postea vocent vocibus, ex sea vocibus accusata repudiare. Decore consetetur persequeris ea cum, ad iuvaret insolens cum. Ea quidam timeam eum, ut sit fabulas pertinax, consul veritus his no. Per vero animal id, has at facilisi nominati, eu novum clita mentitum qui. Natum nihil facete cum ex, mea at prima facilisi. Malorum deserunt contentiones est ut, posidonium reprimique vel in. No natum comprehensam quo.</p>

    <p class="mt-3">Ne clita libris est, iudico alterum gubergren ius ea, ad populo ornatus has. Vim no quaeque officiis atomorum, est ex quodsi prompta sapientem, his option deserunt ad. Qui nihil veniam sadipscing ei, nulla scribentur ut vis. Te his ullum ancillae luptatum. Augue civibus principes ex his, per dicit sensibus in, nec te nostro corpora.</p>

    <p class="mt-3">Duo verear dolorem convenire an, pro debet quaeque id, ea quodsi atomorum duo. Ea cum autem vituperata. Doctus sensibus assueverit an vix, sit ex officiis platonem delicatissimi. In omnium lobortis has, ea sonet causae vix, prima ridens salutandi sea ex. Ne paulo iudico denique mel, est eu impetus assentior suscipiantur.</p>
</div>