@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="flex-1 text-grey-darker">
    <h1 class="text-xl tracking-wide uppercase">@ViewData["Title"]</h1>

    <p class="mt-3">Tickertracker.xyz is owned and operated by <br> Ismail El Hardoum, Salman Virji and Parniyan Roostaof the Bow Valley College.
We can be contacted at: i.elhardoum618@mybvc.ca, s.virji296@mybvc.ca and p.roosta950@mybvc.ca, Calgary.
</p>

    <p class="mt-3">Purpose<br>
The purpose of this privacy policy is to inform users of our site of the following:<br>
1.    We will collect emails;<br>
2.    We will use the amils to send off twits on your behalf whenever there is a change in the value of stock;<br>
3.    The site owners have access to the data collected;<br>
4.    The users have the right to delete their account whenever they decide to, and there will be no more twits on their behalf.<br>
This privacy policy applies in addition to the terms and conditions of our site.
</p>

    <p class="mt-3">Consent<br>
By using our site, users agree that they consent to:<br>
1.    The conditions set out in this privacy policy; and<br>
2.    The collection, use and retention of the data listed in this privacy policy.<br>
</p>

    <p class="mt-3">How we use Personal data<br>
Data collected on our site will only be used for the purposes specified in this privacy policy or indicated on the relevant pages of our site. We will not use your data beyond what we disclosed in this privacy policy.
</p>

    <p class="mt-3">Disclosure<br>
We will not sell or share your data with other third parties, except in the following cases:<br>
1.    If the law requires it;<br>
2.    If it is required for any legal proceedings;<br>
3.    To prove or protect our legal rights<br>
If you have any questions, concerns or complaints, you can contact us at the above email addresses.
</p>
</div>